
@{
    ViewData["Title"] = "Display";
}

<h1>Employee Details</h1>

<p>
    Your Name : @ViewBag.Name
</p>
<p>
    Your Email : @ViewBag.Email
</p>
<p>
    Gender : @ViewBag.Gender
</p>
<p>
    Your City : @ViewBag.City
</p>
<p>
    Your Department: @ViewBag.Dept
</p>
<p>
    Your Qualification: @ViewBag.Qual
</p>


         
